<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
</listeners>
  <test name="Test">
    <classes>
      <!-- class name="Automation_framework.EOC_Add_Solarwinds_Server"/-->
      <class name="Automation_framework.Dnsstuff"/>
    </classes>
   
  </test> <!-- Test -->
</suite> <!-- Suite -->
